:root {
    --sidebar-width: 260px;
    --header-height: 44px;
    --header-vertical-padding: 8px;

    --spacing-sections-sidebar: 14px;

    --accent-color: rgb(103, 103, 103);
    --light-accent-color: rgb(249, 249, 249);
    --border-color: rgb(227, 227, 227);
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: rgb(13, 13, 13);
}

/** SIDEBAR **/

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: var(--sidebar-width);
    background-color: var(--light-accent-color);
}

.links-section {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
}

.links-section .sidebar-link {
    height: 40px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 12px;
    background-color: var(--light-accent-color);
    position: relative;
}

.links-section .sidebar-link:hover {
    background-color: #ececec;
    cursor: pointer;
}

.links-section .sidebar-link svg,
.links-section .sidebar-link img {
    width: 100%;
    height: 100%;
    transform: scale(0.7);
}

.links-section .icon-container {
    height: 24px;
    width: 24px;
    margin-right: 8px;
    border-radius: 50%;
}

.links-section .icon-container.white-container {
    background-color: white;
}

.links-section .icon-container.bordered-container {
    border: 1px solid var(--border-color);
}

.links-section .icon-container.right-container {
    position: absolute;
    right: 0;
}

.top-links-section {
    margin-top: var(--spacing-sections-sidebar);
}

.bottom-links-section {
    margin-bottom: var(--spacing-sections-sidebar);
}

.gpt-icon {
    transform: scale(0.6);
}

.accent-text {
    font-size: 10px;
    color: var(--accent-color);
    display: block;
    text-align: left;
}

/** CONTENT **/
.content-container {
    width: calc(100% - var(--sidebar-width));
}

.main-container {
    height: calc(100vh - var(--header-height) - 2 * var(--header-vertical-padding));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container .main-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--light-accent-color);
}

.main-container .headline {
    font-size: 24px;
    margin: 8px 0;
}

/** HEADER **/
.header {
    height: var(--header-height);
    padding: var(--header-vertical-padding) 12px;
}

.header svg.mobile-button {
    display: none;    
}

.header-button {
    height: var(--header-height);
    padding: 8px 12px;
    border: none;
    border-radius: 12px;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
}

.header-button .accent {
    color: var(--accent-color);
}

.header-button:hover {
    background-color: var(--light-accent-color);
    cursor: pointer;
}

/** FOOTER **/
.footer {
    position: fixed;
    bottom: 0;
    left: var(--sidebar-width);
    right: 0;
    padding: 0 24px;
}

.inner-footer {
    max-width: 720px;
    margin: 0 auto;
}

.suggestions-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 6px;
}

.suggestion-item {
    width: 50%;
    padding: 4px;
    box-sizing: border-box;
}

.suggestion-item .suggestion-item-inner {
    border: 1px solid var(--border-color);
    border-radius: 12px;
    width: 100%;
    padding: 16px 14px;
    box-sizing: border-box;
}

.suggestion-item p {
    margin: 0;
    font-size: 14px;
}

.suggestion-item p.title {
    font-weight: 600;
}

.suggestion-item p.subline {
    color: var(--accent-color);
}

.input-container {
    position: relative;
}

.text-input {
    width: 100%;
    height: 54px;
    padding: 14px 48px 14px 55px;
    font-size: 16px;
    border-radius: 16px;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
}

.attachment-icon {
    position: absolute;
    top: 14px;
    left: 18px;
}

.send-icon {
    position: absolute;
    top: 14px;
    right: 14px;
}

.footnote {
    text-align: center;
    font-size: 12px;
    color: var(--accent-color);
}

@media screen and (max-width: 824px) {
    .suggestion-item {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --sidebar-width: 0px;
    }

    .sidebar {
        display: none;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--border-color);
        padding-top: 0;
        padding-bottom: 0;
    }

    .header svg.mobile-button {
        display: block;
    }

    .suggestion-item {
        width: 50%;
    }
}

@media screen and (max-width: 640px) {
    .hide-on-small-screen {
        display: none;
    }
}

@media screen and (max-width: 532px) {
    .suggestion-item {
        width: 100%;
    }
}